body {
    background-color: lightgrey; /* Set the background color to light grey */
    font-family: Arial, sans-serif;
}

/* Additional styling to ensure readability */
h1, h2, h3, p, ul, li, label {
    color: black;
}

/* Styling for input elements */
input[type="text"],
input[type="number"],
input[type="time"],
select,
textarea {
    background-color: lightgrey;
    color: black;
    border: 1px solid black;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: grey;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #218838;
}

.complete-task-check {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.complete-task-check:hover {
  background-color: #45a049;
}

.fancy-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.fancy-button:hover {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}
